.swiper-button-prev,
.swiper-button-next {
  background-color: #3a2012; /* Fondo marrón para los botones */
  color: white; /* Icono de flecha blanco */
  border-radius: 50%; /* Hace que el botón sea circular */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  display: flex; /* Usa flexbox para centrar el ícono dentro del botón */
  justify-content: center; /* Centra horizontalmente el ícono de la flecha */
  align-items: center; /* Centra verticalmente el ícono de la flecha */
}

/* Cambia el color de las flechas */
.swiper-button-prev:after,
.swiper-button-next:after {
  color: white;
}

/* Aumenta el tamaño del icono de la flecha si es necesario */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5em; /* Ajusta el tamaño del ícono */
}

.swiper-pagination {
  display: none;
}

.titleSlideOne {
  background-color: #467034;
  color: white;
  font-weight: bold;
  font-size: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  padding-right: 10px;
}

.evenfloImageNonImage {
  max-width: 100%;
  height: auto;
}

.containerIconsArea {
  text-align: center;
}

.iconImage {
  width: 50px;
  margin: 0 auto;
}

.textIcons {
  text-align: center;
}

.buttonShopNowArea {
  text-align: left;
}

.buttonShopNow {
  background-color: #3a2012;
  border: solid #3a2012 1px;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; /* Para centrar el botón en Bootstrap */
}

.buttonSlideTwo {
  background-color: #3a2012;
  border: solid #3a2012 1px;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; /* Para centrar el botón */
}

.titleSlideTwo {
  font-size: 36px;
  color: #3a2012;
  margin-left: 10rem;
}

.sutitleSlideTwo {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #474747;
}

.sutitleSlideTwoArea {
  margin-left: 10rem;
}

.womenJuiceImage {
  max-width: 100%;
  height: auto;
}
.superJuiceImage {
  width: 80%;
  margin-top: 6rem;
  margin-left: 8rem;
}

.containerIconsColor .iconImage {
  width: 50px;
  margin: 0 auto;
}

.textIcons {
  text-align: center;
}
/*ACÁ EMPIEZAN LOS ESTILOS DE LA SLIDE 3*/

.yogaWomanImage {
  max-width: 100%;
  height: auto;
}
.peacefulcalmImage {
  max-width: 250px;
}

.buttonSlideLast {
  background-color: #d2b18c;
  border: solid #d2b18c 1px;
  border-radius: 20px;
  padding: 10px 20px;
  color: #3a2012;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; /* Para centrar el botón */
}

.titleSlideThree {
  font-size: 36px;
  color: #3a2012;
}

.subtitleSlideThree {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #474747;
}

.containerIconsArea {
  padding: 0 40rem;
}

.containerIconsColor .iconImage {
  width: 50px;
  margin: 0 auto;
}

.textIcons {
  text-align: center;
}

.evenfloImageMobile {
  display: none;
}

.colorOneSlide {
  background-color: #fbf5f5;
}

.colorTwoSlide {
  background-color: #fff8f1;
}

.colorThreeSlide {
  background-color: #fbf7f6;
}

.womenJuiceImageArea {
  padding-right: 0;
}

@media screen and (min-width: 1200px) {
  .containerIconsArea {
    padding: 0 35rem;
  }
  .titleSlideTwo {
    margin-top: 6rem;
    margin-left: 0;
  }
  .sutitleSlideTwoArea {
    margin-left: 0;
  }
  .yogaWomanImage {
    margin-bottom: 2.5rem;
  }
  .peacefulcalmImage {
    margin-top: 6rem;
    width: 300px;
  }
  .titleSlideThree {
    margin-top: 4.5rem;
    font-size: 46px;
  }
  .subtitleSlideThree {
    font-size: 24px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .titleSlideOneArea {
    padding-left: 0;
    margin-top: 6em;
  }
  .containerIconsArea {
    padding: 0 20rem;
  }
  .titleSlideTwo {
    font-size: 28px;
    margin-left: 0px;
    margin-top: 3rem;
  }
  .sutitleSlideTwoArea {
    margin-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .womenJuiceImage {
    display: none;
  }
  .womanJuiceBackground {
    background-image: url(./img/womanJuiceBG.png);
    background-size: cover;
    background-position: right;
    min-width: 100vw;
  }
  .superJuiceImage {
    width: 15rem;
  }
  .iconImage {
    width: 50px;
    margin: 0 auto;
  }
  .yogaWomanImage {
    display: none;
  }

  .yogaWomanBackground {
    background-image: url(./img/yogaWomanBG.png);
    background-size: cover;
    background-position: left;
    min-width: 100vw;
  }

  .titleSlideOne {
    font-size: 36px;
    text-align: center;
  }

  .buttonShopNowArea {
    text-align: left;
  }

  .evenfloImageMobile {
    display: block;
    width: 80%;
    height: auto;
    float: right;
    margin-bottom: 2rem;
  }

  .evenfloImageNonMobile {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .containerIconsArea {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .row,
  .container {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .subtitleSlideOneArea {
    margin-left: 20.4vw;
    margin-bottom: 20px;
  }

  .subtitleSlideOne {
    font-size: 26px;
  }

  .titleSlideOneArea {
    padding-left: 0;
    margin-top: 6em;
  }
  .containerIconsArea {
    padding: 0 10rem;
  }
  .superJuiceImage {
    width: 100%;
    margin-top: 10%;
    float: right;
  }
  .titleSlideTwo {
    font-size: 28px;
    margin-left: 0;
  }
  .sutitleSlideTwoArea {
    margin-left: 0;
  }
  .buttonSlideTwo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .titleSlideTwo {
    margin-left: 0;
    font-size: 24px;
  }
  .titleSlideOne {
    font-size: 36px;
    text-align: center;
  }
  .sutitleSlideTwoArea {
    margin-left: 0;
  }
  .sutitleSlideTwo {
    font-size: 16px;
  }
  .womanJuiceBackground {
    background-position: center;
  }
}
