.titleSlideOne {
  background-color: #467034;
  color: white;
  font-weight: bold;
  font-size: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  padding-right: 10px;
  margin-top: 10rem;
}
.evenfloImage {
  width: 100%;
  min-width: 80%;
}
.containerSlideOne {
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titleSlideOneArea imageSlideOne";
}

.titleSlideOneArea {
  grid-area: titleSlideOneArea;
}

.subtitleSlideOneArea {
  grid-area: subtitleSlideOneArea;
}

.imageSlideOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerIconsArea {
  grid-area: containerIconsArea;
}

.buttonShopNowArea {
  width: 100%;
  text-align: center;
}

.buttonShopNow {
  background-color: #3a2012;
  border: solid #3a2012 1px;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.buttonSlideTwo {
  background-color: #3a2012;
  border: solid #3a2012 1px;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  margin-left: 20rem;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.controlPrev {
  background-color: #3a2012;
  border-radius: 50%;
  padding: 1px 6px;
  width: 40px;
  height: 40px;
  margin-top: 18rem;
  margin-left: 0.5rem;
}
.controlNext {
  background-color: #3a2012;
  border-radius: 50%;
  padding: 1px 6px;
  width: 40px;
  height: 40px;
  margin-top: 18rem;
  margin-right: 0.5rem;
}
.subtitleSlideOne {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  padding-right: 120px;
  color: #474747;
}

.containerSlideTwo {
  height: 70vh;
  background-color: #fff8f1;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titleSlideTwoArea superJuiceArea womenJuiceImageArea"
    "sutitleSlideTwoArea superJuiceArea womenJuiceImageArea"
    "containerIconsColor containerIconsColor containerIconsColor";
}

.titleSlideTwoArea {
  grid-area: titleSlideTwoArea;
}

.sutitleSlideTwoArea {
  grid-area: sutitleSlideTwoArea;
}

.superJuiceArea {
  grid-area: superJuiceArea;
}

.womenJuiceImageArea {
  grid-area: womenJuiceImageArea;
}

.containerIconsColor {
  grid-area: containerIconsColor;
}

.superJuiceImage {
  width: 16rem;
  margin-top: 130px;
  margin-left: 8rem;
}
.titleSlideTwo {
  font-size: 36px;
  color: #3a2012;
  font-weight: bold;
  margin-top: 3rem;
  margin-left: 3rem;
}
.sutitleSlideTwo {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #474747;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

.containerSlideThree {
  height: 70vh;
  background-color: #fbf5f5;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "yogaWomanImageArea titleSlideThreeArea lessStressImageArea"
    "yogaWomanImageArea subtitleSlideThreeArea lessStressImageArea"
    "yogaWomanImageArea buttonSlideThree lessStressImageArea"
    "containerIconsColor containerIconsColor containerIconsColor";
}

.titleSlideThreeArea {
  grid-area: titleSlideThreeArea;
}

.subtitleSlideThreeArea {
  grid-area: subtitleSlideThreeArea;
}

.yogaWomanImageArea {
  grid-area: yogaWomanImageArea;
}

.lessStressImageArea {
  grid-area: lessStressImageArea;
}

.buttonSlideThree {
  grid-area: buttonSlideThree;
}

.containerIconsColor {
  grid-area: containerIconsColor;
}

.peacefulcalmImage {
  width: 350px;
  margin-top: 4rem;
}
.buttonSlideLast {
  background-color: #d2b18c;
  border: solid #d2b18c 1px;
  border-radius: 20px;
  padding: 10px 20px;
  color: #3a2012;
  margin-left: 2rem;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.titleSlideThree {
  font-size: 36px;
  color: #3a2012;
  font-weight: bold;
  margin-top: 5rem;
  margin-left: 1rem;
}
.subtitleSlideThree {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #474747;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}
.containerIcons {
  margin: 20px auto;
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.containerIconsColor {
  margin: 20px auto;
  width: 60%;
  padding-top: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.colorOneSlide {
  background-color: #fbf5f5;
}
.colorTwoSlide {
  background-color: #fff8f1;
}
.colorThreeSlide {
  background-color: #fbf5f5;
}

@media (max-width: 767px) {
  .containerSlideOne {
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideOneArea titleSlideOneArea"
      "subtitleSlideOneArea imageSlideOne";
  }

  .titleSlideOneArea {
    grid-area: titleSlideOneArea;
  }

  .subtitleSlideOneArea {
    grid-area: subtitleSlideOneArea;
  }

  .imageSlideOne {
    grid-area: imageSlideOne;
  }

  .containerIconsArea {
    grid-area: containerIconsArea;
  }
  .titleSlideOne {
    font-size: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 2.5rem;
  }
  .subtitleSlideOne {
    font-size: 20px;
    text-align: left;
    padding-right: 8px;
  }
  .subtitleSlideOneArea {
    width: 50vw;
    margin-left: 3rem;
  }
  .buttonShopNow {
    padding: 10px 20px;
    margin-left: 2.5rem;
  }

  .evenfloImage {
    width: 100%;
    margin-top: -10rem;
    content: url("./img/withoutPills.png");
  }

  .containerSlideTwo {
    height: 50vh;
    background-image: url(./img/womanJuiceBG.png);
    /* Hace que la imagen de fondo cubra todo el contenedor */
    background-size: cover;
    /* Posición de la imagen de fondo */
    background-position: center;
    /* Crear un pseudo-elemento para la opacidad */
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideTwoArea superJuiceArea"
      "sutitleSlideTwoArea superJuiceArea"
      "containerIconsColor containerIconsColor";
  }

  .titleSlideTwoArea {
    grid-area: titleSlideTwoArea;
  }

  .superJuiceArea {
    grid-area: superJuiceArea;
  }

  .sutitleSlideTwoArea {
    grid-area: sutitleSlideTwoArea;
  }

  .containerIconsColor {
    grid-area: containerIconsColor;
  }

  .titleSlideTwoArea {
    grid-area: titleSlideTwoArea;
  }

  .superJuiceArea {
    grid-area: superJuiceArea;
  }

  .sutitleSlideTwoArea {
    grid-area: sutitleSlideTwoArea;
  }
  .superJuiceImage {
    width: 12rem;
    margin-top: 130px;
    margin-left: 8rem;
  }
  .titleSlideTwo {
    font-size: 32px;
    margin-top: 2rem;
    margin-left: 2.5rem;
  }
  .buttonSlideTwo {
    padding: 10px;
    margin-top: -3rem;
    margin-left: 16rem;
    font-family: Helvetica, sans-serif;
    width: 160px;
  }
  .sutitleSlideTwo {
    font-size: 20px;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .containerSlideThree {
    background-image: url(./img/yogaWomanBG.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-color: #fbf5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideThreeArea lessStressImageArea"
      "subtitleSlideThreeArea buttonSlideThree"
      "containerIconsColor containerIconsColor";
  }

  .titleSlideThreeArea {
    grid-area: titleSlideThreeArea;
  }

  .containerIconsColor {
    grid-area: containerIconsColor;
  }

  .buttonSlideThree {
    grid-area: buttonSlideThree;
  }

  .subtitleSlideThreeArea {
    grid-area: subtitleSlideThreeArea;
  }

  .lessStressImageArea {
    grid-area: lessStressImageArea;
  }

  .peacefulcalmImage {
    width: 260px;
    margin-top: 6.5rem;
    margin-left: 1rem;
  }
  .titleSlideThree {
    font-size: 36px;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 50vw;
    height: 20vh;
    padding-top: 50px;
  }
  .subtitleSlideThree {
    font-size: 20px;
    color: #474747;
    margin-left: 4rem;
    margin-bottom: 2.5rem;
    margin-top: -120px;
  }
}

@media (max-width: 480px) {
  .containerSlideOne {
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideOneArea titleSlideOneArea"
      "subtitleSlideOneArea imageSlideOne";
  }

  .titleSlideOneArea {
    grid-area: titleSlideOneArea;
  }

  .subtitleSlideOneArea {
    grid-area: subtitleSlideOneArea;
  }

  .imageSlideOne {
    grid-area: imageSlideOne;
  }

  .containerIconsArea {
    grid-area: containerIconsArea;
  }
  .titleSlideOne {
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 2.5rem;
  }
  .subtitleSlideOne {
    font-size: 16px;
    text-align: left;
    padding-right: 8px;
  }
  .subtitleSlideOneArea {
    width: 50vw;
    margin-left: 1rem;
  }
  .buttonShopNow {
    padding: 10px 20px;
    margin-left: 2.5rem;
    font-size: 14px;
  }
  .imageSlideOne {
  }
  .evenfloImage {
    width: 200px;
    margin-top: -10rem;
  }
  .textIcons {
    font-size: 14px;
  }
  .iconImage {
    width: 45px;
    margin: 5px auto;
    padding: 5px;
  }
  .containerSlideTwo {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideTwoArea titleSlideTwoArea"
      "sutitleSlideTwoArea superJuiceArea"
      "containerIconsColor containerIconsColor";
  }

  .sutitleSlideTwoArea {
    grid-area: sutitleSlideTwoArea;
  }

  .containerIconsColor {
    grid-area: containerIconsColor;
  }

  .superJuiceArea {
    grid-area: superJuiceArea;
  }

  .titleSlideTwoArea {
    grid-area: titleSlideTwoArea;
  }

  .buttonSlideTwo {
    padding: 10px;
    margin-top: -3rem;
    margin-left: 1.5rem;
    width: 160px;
  }
  .sutitleSlideTwo {
    font-size: 20px;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .titleSlideTwo {
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .superJuiceImage {
    width: 8rem;
    margin-top: -60px;
    margin-left: 9rem;
  }
  .containerSlideThree {
    background-image: url(./img/yogaWomanBG.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-color: #fbf5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1.5fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideThreeArea lessStressImageArea"
      "subtitleSlideThreeArea lessStressImageArea"
      "containerIconsColor containerIconsColor containerIconsColor";
  }
  .peacefulcalmImage {
    width: 260px;
    margin-top: 6.5rem;
  }
  .containerSlideThree {
    background-image: url(./img/yogaWomanBG.png);
    background-size: cover;
    background-position: left;
    height: 40vh;
    background-color: #fbf5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titleSlideThreeArea lessStressImageArea"
      "subtitleSlideThreeArea buttonSlideThree"
      "containerIconsColor containerIconsColor";
  }

  .titleSlideThreeArea {
    grid-area: titleSlideThreeArea;
  }

  .containerIconsColor {
    grid-area: containerIconsColor;
  }

  .buttonSlideThree {
    grid-area: buttonSlideThree;
  }

  .subtitleSlideThreeArea {
    grid-area: subtitleSlideThreeArea;
  }

  .lessStressImageArea {
    grid-area: lessStressImageArea;
  }

  .peacefulcalmImage {
    width: 157px;
    margin-top: 8rem;
    margin-right: 2.5rem;
    margin-left: -15px;
  }
  .titleSlideThree {
    font-size: 32px;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 50vw;
    height: 20vh;
    padding-top: 50px;
  }
  .subtitleSlideThree {
    margin-left: 4rem;
    margin-top: -20px;
  }
  .buttonSlideLast {
    padding: 10px 20px;
    margin-left: 15px;
    margin-right: 20px;
  }
}
